.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

.container{
    /*layout*/
    width: 1440px;
    height: 1024px;
    /*style*/
    border-radius: 70px;
    background:  #FFF; 
    display: flex;

}
.result-card{
    /*layout*/
    width: 743px;
    height: 1024px;
    flex-shrink: 0;
    /*style*/
    border-radius: 84px;
    background: linear-gradient(180deg, #7857FF 0%, #2E2BE9 100%);
}
.circle{
    width: 389px;
    height: 374px;
    flex-shrink: 0;
    margin:auto;
    border-radius: 389px;
    text-align: center;
    background: linear-gradient(180deg, #4E21CA 0%, rgba(36, 33, 202, 0.00) 100%);
}

p{
    text-align: center;
}

p[id="ptitle"]{
    color: #C8C7FF;
    font-family: Hanken Grotesk;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}

p[id="fircirtext"]{
    width: 183px;
    height: 109px;
    color: #FFF;
    margin: auto;
    font-family: Hanken Grotesk;
    font-size: 100px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: relative;
    top: 93px;

}
p[id="seccirtext"]{

    color: #C8C7FF;
    text-align: center;
    font-family: Hanken Grotesk;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: 100px;
}

p[id="exclamation"]{
    width: 179px;
    height: 71px;
    color: #FFF;
    font-family: Hanken Grotesk;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    top: -7px;
    margin: 70px auto;
}

p[id="remark"]{
    width: 486px;
    height: 130px;
    flex-shrink: 0;
    color: #C8C7FF;
    text-align: center;
    font-family: Hanken Grotesk;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 40px auto;
    position: relative;
    top: -20px;
}

h1{
    width: 264px;
    height: 60px;
    flex-shrink: 0;
    color: #303B5A;
    font-family: Hanken Grotesk;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 63px;
    padding-left: 62px;
}

.summary-section{
    width: 697px;
   display:flex;
   flex-direction:column;
   justify-content: space-between;
   background-color: #FFF;
}

.reaction{
    width: 546px;
    height: 98px;
    flex-shrink: 0;
    border-radius: 21px;
    background: rgba(255, 87, 87, 0.06);
    display:inline-flex;
    justify-content: space-around;
    margin: 86px auto 0 auto;
    top: 109px; 
}

.memory{
    width: 546px;
    height: 98px;
    flex-shrink: 0;
    border-radius: 21px;
    background: rgba(255, 176, 31, 0.06);
    display:inline-flex;
    justify-content: space-around;
    margin: auto;
    margin: 40px auto 0 auto;  
}

.verbal{
    width: 546px;
    height: 98px;
    flex-shrink: 0;
    border-radius: 21px;
    background: rgba(0, 189, 145, 0.06);
    display: inline-flex;
    justify-content: space-around;
    margin: 42px auto 0 auto;
}

.visual{
    width: 546px;
    height: 98px;
    border-radius: 21px;
    background: rgba(17, 37, 212, 0.06);
    display: inline-flex;
    justify-content: space-around;
    margin:42px auto 0 auto;
    
}

h2[id="reaction-text"]{
    color: #FF5757;
    font-family: Hanken Grotesk;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    right: 70px;
}

h2[id="memory-text"]{
    color: #FFB01F;
    font-family: Hanken Grotesk;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    right: 70px;
}

h2[id="verbal-text"]{
    color: #00BD91;
    font-family: Hanken Grotesk;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    right: 70px;
}

h2[id="visual-text"]{
    color: #1125D4;
    font-family: Hanken Grotesk;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    right: 70px;
}

.score{
    width: 76px;
    height: 46px;
    flex-shrink: 0;
    color: #303B5A;
    font-family: Hanken Grotesk;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 60px;
}

.denominator{
    color: #C8C7FF;
    font-family: Hanken Grotesk;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;   
    position: relative;
    left: 3px;
}

button{
    width: 546px;
    height: 98px;
    flex-shrink: 0;
    border-radius: 52px;
    background: #303B5A;
    margin: 88px 68px 113px 83px;
    position: relative;
    top: 40px;
}

button:hover{
    background:hsl(242, 83%, 55%);
}

p[id="buttontext"]{
    color: #FFF;
    display: inline;
    font-family: Hanken Grotesk;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.icon{
    width: 33px;
    height: 33px;
    margin: 30px 49px 24px 18px;
    position: relative;
    right: 20px;
}
